.navbar {
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: #003580;
}

.navContainer {
  width: 100%;
  max-width: 1024px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.logo {
  font-weight: 600;

  font-size: large;
}

.navButton {
  margin: 0px 10px;
  border: none;
  border-radius: 3px;
  padding: 10px, 20px;
  height: 25px;
  width: 65px;
  cursor: pointer;
  color: #003580;
}
